@model Tradie.Models.Payments.PaymentMethod

@{
    ViewData["Title"] = "Payment Method Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PagoMethod.css" />
<link href="https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap" rel="stylesheet">

<div class="Main-Container">
    <!-- LEFT COLUMN -->
    <div class="Container-Container">
        <!-- Header Buttons -->
            <div class="Button-Container">
                <a class="First-Button" asp-area="" asp-controller="Payment" asp-action="PaymentDetails"><span class="number-span">1</span> Detalle de la entrega</a>
                <button type="submit" class="Second-Button"><span class="number-span">2</span> Método de pago</button>
                <a class="Third-Button" asp-area="" asp-controller="Payment" asp-action="PaymentSummary"><span class="number-span">3</span> Resumen del pedido</a>
            </div>

            <div class="Form-Container">
                <div>
                    <h1>Forma de Pago</h1>
                </div>

                <div class="Change-Method-Container">
                    <button class="Change-Method-Button">Tarjeta de crédito o débito</button>
                    <button class="Change-Method-Button-NonActive">Pagar con PayPal</button>
                    <button class="Change-Method-Button-NonActive">Pagar con Google Pay</button>
                </div>

                <div class="Main-Country-Container">
                    <div class="Country-Container">
                        <label for="payoneerInput">Titular de la tarjeta</label>
                        <input type="text" name="payoneerInput" class="Country" placeholder="Introduce al titular de la tarjeta">
                        <label for="cardNumber">Número de la tarjeta</label>
                        <input type="number" maxlength="16" minlength="16" name="cardNumber" class="Country" placeholder="XXXX-XXXX-XXXX-XXXX">
                    </div>
                </div>
                <div class="Card-Atributes-Container">
                    <div class="Card-Atributes">
                        <label for="expirationDate">Fecha de caducidad</label>
                        <input type="date" name="expirationDate" placeholder="XX/XX/XXXX">
                    </div>
                    <div class="Card-Atributes">
                        <label for="cvc">CVC</label>
                        <input type="number" minlength="3" maxlength="3" name="cvc" placeholder="XXX">
                    </div>
                </div>
                <div class="Checkbox-Container">
                    <div class="Checkbox">
                        <input type="checkbox" name="markAsmMainCard" class="Checkbox-Input">
                        <label for="markAsmMainCard" class="Checkbox-Label">Marcar como tarjeta principal</label>
                    </div>
                    <div class="Checkbox">
                        <input type="checkbox" name="keepPaymentData" class="Checkbox-Input">
                        <label for="keepPaymentData" class="Checkbox-Label">Guardar los datos de pago para las compras en el futuro</label>
                    </div>
                </div>
                <div class="Payment-Container">
                    <a class="Payment-Button" asp-area="" asp-controller="Payment" asp-action="PaymentSummary">Ver Resumen del pedido</a>
                </div>
            </div>
        </div>

    <!-- RIGHT COLUMN -->
    <div class="summary-container">
        <div class="summary-children">
            <h2 class="resumen-title">Resumen</h2>

            <div class="subtotal-group">
                <p class="subtotal-label">Subtotal</p>
                <p class="subtotal-value">€154.75</p>
            </div>

            <div class="delivery-pay-group">
                <p class="delivery-pay-label">Envío</p>
                <p class="delivery-pay-value">€4.00</p>
            </div>

            <div class="overall-total-group">
                <p class="overall-total-label">Estimación Total</p>
                <p class="overall-total-value">€203.92</p>
            </div>

        </div>
    </div>
</div>

<script src="script.js" defer></script>