@model Tradie.Models.Payments.PaymentSummary

@{
    ViewData["Title"] = "Payment Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Pago.css" />
<link href="https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap" rel="stylesheet">

    <div class="Main-Container">
    <!-- LEFT COLUMN -->
        <div class="Container-Container">
            <!-- Header Buttons -->
            <div class="Button-Container">
            <button type="submit" class="First-Button"><span class="number-span">1</span> Detalle de la entrega</button>
            <Button form="PaymentDetailsForm" class="Second-Button"><span class="number-span">2</span> Resumen del pedido</Button>
            <Button class="Third-Button" asp-area="" asp-controller="Payment" asp-action="PaymentSummary"><span class="number-span">3</span> Método de pago</Button>
            </div>
        <form id="PaymentDetailsForm" method="post" asp-controller="Payment" asp-action="PaymentSummary">
            <div class="Form-Container">
                <div class="Form-Inner">
                    <h1>Detalles de la entrega</h1>

                        <div class="Form-Basic-Data-Container">
                            <!-- Nombre -->
                            <div class="Input-Group">
                                <label for="nameInput">Nombre</label>
                                <div class="input-icon-container">
                                    <i class="bi bi-person input-icon"></i>
                                <input type="text" name="Name" value=@Model.Name placeholder="Introduce tu nombre">
                                </div>
                            </div>

                            <!-- Apellidos -->
                            <div class="Input-Group">
                                <label for="LastNamesInput">Apellidos</label>
                                <div class="input-icon-container">
                                    <i class="bi bi-person input-icon"></i>
                                <input type="text" name="LastNames" value=@Model.LastNames placeholder ="Introduce tus apellidos">
                                </div>
                            </div>

                            <!-- Correo Electrónico -->
                            <div class="Input-Group">
                                <label for="emailAddressInput">Correo electrónico</label>
                                <div class="input-icon-container">
                                    <i class="bi bi-envelope input-icon"></i>
                                <input type="email" name="EmailAddress" value=@Model.EmailAddress placeholder ="Introduce tu correo electrónico">
                                </div>
                            </div>

                            <!-- Teléfono -->
                            <div class="Input-Group">
                                <label for="phoneInput">Teléfono</label>
                                <div class="input-icon-container">
                                    <i class="bi bi-telephone input-icon"></i>
                                <input type="number" name="Phone" value=@Model.Phone placeholder ="Introduce tu número de teléfono o móvil">
                                </div>
                            </div>
                        </div>

                <!-- Dirección -->
                <div class="Input-Group">
                    <label for="addressInput">Dirección</label>
                    <div class="input-icon-container">
                        <i class="bi bi-geo-alt input-icon"></i>
                            <input type="text" name="Address" class="Country" value=@Model.Address placeholder ="Introduce tu dirección">
                    </div>

                    <label for="countryInput">País</label>
                    <div class="input-icon-container">
                        <i class="bi bi-map input-icon"></i>
                            <input type="text" name="Country" class="Country" value=@Model.Country placeholder ="Introduce tu país">
                    </div>
                </div>

                    <div class="Address-Row-Container">
                        <div class="Area-Container">
                            <label for="cityInput">Ciudad</label>
                            <input type="text" name="City" class="Area" value=@Model.City placeholder ="Introduce tu ciudad">
                        </div>
                        <div class="Area-Container">
                            <label for="areaInput">Región</label>
                            <input type="text" name="Region" class="Area" value=@Model.Region placeholder ="Región">
                        </div>
                        <div class="Area-Container">
                            <label for="postalInput">Código postal</label>
                            <input type="text" name="PostalCode" class="Area" value=@Model.PostalCode placeholder ="Introduce tu código postal">
                        </div>
                    </div>

                <!-- Nota del Pedido -->
                <div class="Note-Container">
                    <div class="Note">
                        <label for="note">Nota del pedido:</label>
                        <div class="input-icon-container">
                            <i class="bi bi-exclamation-circle input-icon-note"></i>
                                <textarea name="Note" class="NoteTextArea" placeholder="No va el timbre llámame por teléfono...">@Model.Note</textarea>
                        </div>
                    </div>
                </div>

                    <div class="Payment-Container">
                        <button class="Payment-Button" type="submit">Proceder al resumen</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <!-- RIGHT COLUMN -->
        <div class="summary-container">
            <div class="summary-children">
                <h2 class="resumen-title">Resumen</h2>

            <div class="subtotal-group">
                <p class="subtotal-label">Subtotal</p>
                <p class="subtotal-value">€@Model.Subtotal.ToString("0.00")</p>
            </div>

            <div class="delivery-pay-group">
                <p class="delivery-pay-label">Envío</p>
                <p class="delivery-pay-value">€@Model.DeliveryFee.ToString("0.00")</p>
            </div>

            <div class="overall-total-group">
                <p class="overall-total-label">Estimación Total</p>
                <p class="overall-total-value">€@Model.Total.ToString("0.00")</p>
            </div>

            </div>
        </div>

    </div>

<script src="script.js" defer></script>