@model Tradie.Models.Payments.PaymentSummary

@{
    ViewData["Title"] = "Payment Method Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PagoMethod.css" />
<link href="https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap" rel="stylesheet">

<div class="Main-Container">
    <!-- LEFT COLUMN -->
    <div class="Container-Container">
        <!-- Header Buttons -->
            <div class="Button-Container">
                <button class="First-Button" asp-controller="Payment" asp-action="PaymentDetails"><span class="number-span">1</span> Detalle de la entrega</button>
                <button type="submit" class="Third-Button"><span class="number-span">2</span> Resumen del pedido</button>
                <button class="Second-Button" asp-controller="Payment" asp-action="PaymentSummary"><span class="number-span">3</span> Método de pago</button>
            </div>

            <div class="Form-Container">
                <div>
                    <h1>Forma de Pago</h1>
                </div>
                <div class="Container-Paypal">
                    <div class="text-center">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>

    <!-- RIGHT COLUMN -->
    <div class="summary-container">
        <div class="summary-children">
            <h2 class="resumen-title">Resumen</h2>

            <div class="subtotal-group">
                <p class="subtotal-label">Subtotal</p>
                <p class="subtotal-value">€@Model.Subtotal.ToString("0.00")</p>
            </div>

            <div class="delivery-pay-group">
                <p class="delivery-pay-label">Envío</p>
                <p class="delivery-pay-value">€@Model.DeliveryFee.ToString("0.00")</p>
            </div>

            <div class="overall-total-group">
                <p class="overall-total-label">Estimación Total</p>
                <p class="overall-total-value">€@Model.Total.ToString("0.00")</p>
            </div>

        </div>
    </div>
</div>

<script src="script.js" defer></script>

@section Scripts {
    @*Use ViewBag.ClientId to load Paypal Javascript SDK*@
    <script src="https://www.paypal.com/sdk/js?client-id=ARhjVr3cyacpJMlXbUQfis9jz40E6HOAUByIJhmFD_0YiHM6L_2Yr3Z47nLbLGJPCHND-Xg97pX0hApo"></script>

    <script>
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },

                    createOrder: (data, actions) => {
            const totalPrice = "@Model.Total.ToString("0.00")";

            return fetch("/Checkout/Order", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ price: totalPrice })
            }).then(response => response.text())
              .then(text => {
                  return JSON.parse(text).id;
              })
              .catch(error => alert("Error al procesar la orden: " + error.message));
        },
            onApprove: (data, actions) => { 
                return fetch(`/Checkout/Capture?orderId=${data.orderID}`, {
                    method: "post",
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }

                    window.location.href = "/Checkout/Success";
                }).catch(error => alert(error.message));
            }
        }).render('#paypal-button-container');
    </script>
}