<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="~/css/Success.css" rel="stylesheet">
</head>
<body>
    <div class="card">
        <div class="Item">
            <i class="checkmark">✓</i>
        </div>
        <h1> Payment Success</h1>
        <p>The payment has been successfully save.<br /> Thank You!</p>
    </div>
</body>
</html>