@model int

<li class="nav-item me-3 position-relative">
    <a class="nav-link position-relative" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
         <i class="bi bi-cart3 fs-4"></i>
         <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              @Model.ToString("D2")
         </span>
    </a>
</li>