@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="~/css/category.css" />

<!-- HOME Section -->
<section id="home">
    <div>
        <h1 class="biglabel">TRADE SMART, SHOPE EASY!</h1>
        <h3>
            Encuentra todo lo que necesitas en un solo lugar.
            ¡Compra ahora en Tradie!
        </h3>
    </div>

    <div class="content-box">
        <span class="btn-box">
            <!-- Updated links to point to the specific subcategories -->
            <a class="btn-active">Ropa</a>
            <a href="/Category/Category#electrónica" class="btn">Electrónica</a>
            <a href="/Category/Category#infromática" class="btn">Informática</a>
            <a asp-controller="Category" asp-action="Category" class="btn-plus">+</a>
        </span>
    </div>

    <!-- Updated container with navigation arrows -->
    <div class="slider-container">
        <div class="slider-wrapper" id="home-slider">
            <div class="card-container">
                <div class="card">
                    <div class="image-container">
                        <!-- Image -->
                        <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">

                        <!-- Favorite Button -->
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                         <!-- Add to Cart -->
                        <button class="cart-button" onclick="toggleCartHome(this)">
                             Añadir a la cesta <i class="bi bi-cart"></i>
                         </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_white.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <!-- Add to Cart -->
                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_black.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_white.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_black.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <!-- Image -->
                        <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">

                        <!-- Favorite Button -->
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i><span class="cart-text">añadido</span>
                        </button>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_white.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="image-container">
                        <img src="~/images/boy_black.png" class="card-img-top" alt="girl_denim">

                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Badocor T-shirt</h5>
                         <p class="card-text"> Classic T-shirt for daily</p>
                         <h5>€24.99</h5>

                        <button class="cart-button" onclick="toggleCartHome(this)">
                            Añadir a la cesta <i class="bi bi-cart"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Navigation Arrows - Placed in a single line -->
        <div class="slider-controls home-controls">
            <div class="slider-arrow left" onclick="slideCards('home-slider', 'left')">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="see-more-btn-container">
                <a asp-controller="Category" asp-action="Category" class="btn-ver">Ver todas las categorías</a>
            </div>
            <div class="slider-arrow right" onclick="slideCards('home-slider', 'right')">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
</section>

<!-- OFERTAS Section -->
<section id="ofertas">
    <h1>Ofertas</h1>

    <div class="container-ofertas">
        <div class="photo-container">
            <img src="~/images/flatlay.png" alt="ofertas" class="img-ofertas">
        </div>

        <div class="container-info">
            <div class="text-column">
                <h2>ENCUENTRA LOS ARTICULOS PERFECTOS SOLAMENTE PARA TI</h2>
                <p>Disfruta los mejores opfertas que tenemos en la tienda para estas fiestas.</p>
                <h4>APROVECHAR LAS REBAJAS AHORA!</h4>
            </div>

            <div class="text-column">
                <h6>Hasta</h6>
                <h2>50%</h2>
                <p class="desc-txt">Descuentos en productos seleccionados</p>
            </div>
            <a asp-controller="Category" asp-action="Index" class="btn-ver-tienda">Ver la tienda</a>
        </div>
    </div>
</section>

<!-- RECIEN LLEGADOS Section -->
<section id="recientes">
    <h1>Recien Llegados</h1>

    <div class="slider-container">
        <!-- Navigation Arrows MOVED ABOVE the slider -->
        <div class="slider-controls recientes-controls">
            <div class="slider-arrow left" onclick="slideCards('recientes-slider', 'left')">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="slider-arrow right" onclick="slideCards('recientes-slider', 'right')">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>

        <div class="slider-wrapper" id="recientes-slider">
            <div class="card-container">
                <!-- First row of cards -->
                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5 class="price">€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/boy_white.png" class="card-img-top" alt="boy_white">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5 class="price">€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/boy_white.png" class="card-img-top" alt="boy_white">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="heart-icon-container">
                        <button class="favorite-btn" onclick="toggleHeart(this)">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                    <div class="card-body">
                        <h5 class="card-title">Badocor T-shirt</h5>
                        <p class="card-text"> Classic T-shirt for daily</p>
                        <h5>€24.99</h5>
                        <div class="cart-icon-container">
                            <button class="cart-btn" onclick="toggleCart(this)">
                                <i class="bi bi-cart"></i>
                                <span class="cart-text">añadido</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAMOSOS Section -->
<section id="famosos">
    <h1>Famosos</h1>

    <div class="top-products-container">

            <!-- 12 Cards total -->
            <div class="card">
                <div class="card-number">1</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">2</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_white.png" class="card-img-top" alt="boy_white">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">3</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">4</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">5</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">6</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_white.png" class="card-img-top" alt="boy_white">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">7</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">8</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/girl_denim.png" class="card-img-top" alt="girl_denim">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">9</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_white.png" class="card-img-top" alt="boy_white">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">10</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">11</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-number">12</div>
                <div class="heart-icon-container">
                    <button class="favorite-btn" onclick="toggleHeart(this)">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                <img src="~/images/boy_black.png" class="card-img-top" alt="boy_black">
                <div class="card-body">
                    <h5 class="card-title">Badocor T-shirt</h5>
                    <p class="card-text">Classic T-shirt for daily</p>
                    <h5>€24.99</h5>
                    <div class="cart-icon-container">
                        <button class="cart-btn" onclick="toggleCart(this)">
                            <i class="bi bi-cart"></i>
                            <span class="cart-text">añadido</span>
                        </button>
                    </div>
                </div>
            </div>
     </div>
</section>

<script src="~/js/site.js" asp-append-version="true"></script>