@{
    ViewData["Title"] = "Ofertas";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/ofertas.css">

<section id="ofertas">
    <div class="container-ofertas">
        <div class="photo-container">
            <img src="~/images/flatlay.png" alt="ofertas" class="img-ofertas">
        </div>

        <div class="container-info">
            <div class="text-column">
                <h2>ENCUENTRA LOS ARTICULOS PERFECTOS SOLAMENTE PARA TI</h2>
                <p>Disfruta los mejores opfertas que tenemos en la tienda para estas fiestas.</p>
                <h4>APROVECHAR LAS REBAJAS AHORA!</h4>
            </div>

            <div class="text-column">
                <h6>Hasta</h6>
                <h2>50%</h2>
                <p class="desc-txt">Descuentos en productos seleccionados</p>
            </div>
            <a href="#" class="btn-ver-tienda">Ver la tienda</a>
        </div>
    </div>

</section>


