html {
    scroll-behavior: smooth;
}

/* Category Container */
.subcategory-section {
    margin-bottom: 20px;
    padding: 0 0 10px;
    scroll-margin-top: 120px; /* Adjust based on your header height */
}

.subcategory-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Subcategory Next Buttons */
.subcategory-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%
}

.scroll-btn {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

/* Cards */

.subcategory-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    opacity: 0.9;
}

    .subcategory-cards::-webkit-scrollbar {
        display: none;
    }

.subcategory-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 40px;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    transition: transform all 0.2s ease;
    background: #b7b7b73d;
    -webkit-overflow-scrolling: touch; /* iOS momentum scrolling */
}

    .subcategory-card:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
        opacity: 1;
        background: #f8efa3;
        font-weight: 600;
        color: black;
    }


.subcategory-name {
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.subcategory-card-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

    .subcategory-card-link:hover {
        text-decoration: none;
        color: inherit;
    }

        .subcategory-card-link:hover .subcategory-name {
            color: #756803;
            font-weight: 700;
        }


/* IMAGE */
.subcategory-image {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 8px;
}

.subcategory-card:hover .subcategory-image {
    filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(595%) hue-rotate(16deg) brightness(91%) contrast(93%);
}




