body {
    background-color: #D3D3D3;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    opacity: 80%;
    margin: 0;
    padding: 0;
}

.Main-Container {
    display: flex;
    gap: 1.5rem;
}

.Container-Container {
    width: 80%;
}

.Button-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

/* LEFT PART */
.Form-Container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 2rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "Murecho", sans-serif !important;
}

.Form-Inner {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-family: "Murecho", sans-serif !important;
}

.Area-Container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

input{
    border: solid 1.4px #999999;
    border-radius: 8px;
    padding-left: 20px;
    font-size: small;
    height: 30px;
    width: 100%;
    opacity: 70%;
}

.Note-Container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;

}
input.Note{
    height: 300px;
    width: 100%;
}

div.Note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NoteTextArea {
    height: 150px;
    width: 100%;
    border: solid 1.4px #999999;
    border-radius: 8px;
    padding: 22px;
    font-size: small;
    opacity: 70%;
    resize: none;
    font-family: "Murecho", sans-serif;
    line-height: 1.4; /* Ensures proper line spacing */
    vertical-align: top; /* Key fix for vertical alignment */
    box-sizing: border-box; /* Makes padding behave correctly */
}


input.Area{
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

label{
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 6px 0;
    opacity: 80%;
}

placeholder {
    margin-left: 30px;
}

.Payment-Container{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.Payment-Button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D88B4;
    color: #F2F2F2;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-right: 0;
    margin-top: 30px;
    border:rgba(0,0,0,0);
    text-decoration: none;
}

    .Payment-Button:hover {
        background-color: #6f9dcc;
    }

    .Payment-Container a {
        color: white;
    }   

.Address-Row-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.Row-Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.Input-Group {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 calc(50% - 0.5rem); /* 2 items per row */
    display: flex;
    flex-direction: column;
}

.Form-Basic-Data-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust spacing as needed */
}

/* ICONS INside Input Areas*/
.input-icon-container {
    position: relative;
    width: 100%;
}

    .input-icon-container .input-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #999;
        font-size: 1rem;
        pointer-events: none;
    }

    .input-icon-note {
        position: absolute;
        top: 20px;
        left: 12px;
        color: #999;
        font-size: 1rem;
        pointer-events: none;
    }

    .input-icon-container input,
    .input-icon-container textarea {
        padding-left: 2.2rem;
    }



/* BUTTONS HEADER */
.First-Button {
    background-color: #5D88B4;
    color: #F2F2F2;
    font-size: small;
    font-weight: 500;
    height: 50px;
    width: 36%;
    border: rgba(0,0,0,0);
    text-decoration: none;
    cursor: default !important;
}

    .First-Button:hover {
        cursor: default !important;
        text-decoration: none;
    }

.Second-Button, .Third-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    color: #999999;
    font-weight: 500;
    font-size: small;
    height: 50px;
    width: 36%;
    border: rgba(0,0,0,0);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .Second-Button:hover, .Third-Button:hover {
        background-color: #7095b97d;
        color: black;
        opacity: 50%;
        text-decoration: none;
    }

.number-span {
    background-color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 4px 9px;
    margin-right: 8px;
}

.First-Button .number-span {
    color: #999999;
}


/* RIGHT COLUMN (Summary) */
.summary-container {
    position: sticky;
    top: 110px;
    width: 25%;
    max-height: 220px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;
    background-color: white;
}

.resumen-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.subtotal-group,
.delivery-pay-group,
.overall-total-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkout-btn {
    background-color: #262626;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 12px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

    .checkout-btn:hover {
        background-color: black;
        color: white;
    }

/* FONTS */
.item-details, .item-price, .item-name, .item-size, .item-color {
    color: black !important;
    opacity: 1 !important;
}

.overall-total-label, .overall-total-value {
    color: black !important;
    font-weight: 600;
    opacity: 1 !important;
}

.item-status {
    opacity: 1 !important;
    color: #48A761;
}

.overall-total-value {
    font-size: medium;
}

.delivery-pay-label, .subtotal-label,
.delivery-pay-value, .subtotal-value {
    font-weight: 500;
    opacity: 1 !important;
}


/*************************************************************************
                            RESPONSIVENESS
**************************************************************************/

/* ==========================
   LAPTOP (992px - 1199px)
========================== */
@media (min-width: 992px) and (max-width: 1199px) {
    .Main-Container {
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .Container-Container {
        width: 70%;
    }

    .summary-container {
        width: 30%;
    }

    .Form-Container {
        padding: 1.5rem;
    }

    .Payment-Button {
        width: 180px;
    }

    .NoteTextArea {
        height: 250px;
    }

    .Button-Container .First-Button,
    .Second-Button,
    .Third-Button {
        width: 33%;
    }
}

/* ==========================
   TABLET (768px - 991px)
========================== */
@media (min-width: 768px) and (max-width: 991px) {
    .Main-Container {
        flex-direction: column;
        padding: 1rem;
        margin-top: -20px;
    }

    .Container-Container,
    .summary-container {
        width: 100%;
    }

    .Button-Container {
        flex-direction: row;
        gap: 0;
        margin-bottom: 1rem;
    }

        .Button-Container .First-Button,
        .Second-Button,
        .Third-Button {
            width: 100%;
        }

    .Form-Container {
        padding: 1.5rem;
    }

    .Address-Row-Container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .NoteTextArea {
        height: 200px;
    }

    .summary-container {
        position: relative;
        top: 0;
        max-height: none;
    }

    .Payment-Button {
        width: 100%;
    }
}

/* ==========================
   PHONE (max-width: 576px)
========================== */
@media screen and (max-width: 576px) {
    body {
        padding: 90px 0 0;
    }

    .Main-Container {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin-top: -20px;
    }

    .Container-Container,
    .summary-container {
        width: 100%;
        padding: 0;
    }

    .Button-Container {
        flex-direction: column;
        gap: 10px;
    }

        .Button-Container .First-Button,
        .Second-Button,
        .Third-Button {
            width: 100%;
            font-size: 14px;
            height: 45px;
        }

    .Form-Container {
        padding: 1rem;
    }

    .Input-Group input,
    .NoteTextArea {
        font-size: 12px;
    }

    .NoteTextArea {
        height: 150px;
        padding: 1rem;
    }

    .Payment-Button {
        width: 100%;
        margin-top: 20px;
    }

    .summary-container {
        position: relative;
        top: 0;
        padding: 1rem;
        margin-top: 20px;
    }

    .input-icon-note {
        position: absolute;
        top: 14px;
        left: 12px;
    }
}
