html {
    scroll-behavior: smooth;
}

/*/ PRODUCT CARDS */

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px 10px;
    margin-top: 20px;
}

.product-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .product-card:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }

.product-link {
    text-decoration: none;
    color: inherit;
}

    .product-link:hover {
        text-decoration: none !important;
        color: #d45e49;
    }

.product-info {
    padding: 10px;
}

.product-name {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;
}

.product-description {
    font-size: 14px;
    margin-bottom: 12px;
    color: #666;
}

.product-price {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.product-actions  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border-top: 1px solid #eee;
}

    .product-actions .btn-primary {
        width: 100%;
        padding: 6px 12px;
        font-weight: 500;
        background-color: black;
        border: none;
        transition: background 0.3s, color 0.3s;
    }

.card .product-card a {
    text-decoration: none;
}

/*IMAGE */
.product-image {
    width: 100%;
    height: 100%;
    max-height: 230px;
    object-fit: cover;
}

.discount-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(45deg, #e74c3c, #c0392b);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(231, 76, 60, 0.3);
}

.original-price {
    text-decoration: line-through;
    color: #999;
    padding: 0;
    margin-bottom: 10px;
}

.discounted-price {
    color: black !important;
    opacity: 1 !important;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/* BUTTONS 
.btn-primary {
    padding: 5px 8px;
    background-color: black;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.btn-primary:hover {
    font-weight:500;
    background: #f3ce00;
    color: black;
}
    */

/****************** RESPONSIVENESS ****************/

/** Mediuem Desktop **/
@media (min-width: 992px) and (max-width: 1199px) {
    .product-card {
        width: 30%; /* Three columns */
        max-width: 300px;
    }
}


@media (max-width: 576px) {
    .subcategory-cards {
        flex-wrap: wrap; /* Allow wrapping */
        justify-content: space-between;
    }

    .subcategory-card {
        width: calc(50% - 4px); /* Two cards per row with spacing */
        margin-bottom: 20px;
    }

    .category-nav-link{}
}

/*** PHONES ***/
@media (max-width: 576px) {
    .product-grid {
        justify-content: center;
    }

    .product-card {
        width: calc(50% - 10px); /* Two columns with a small gap */
        max-width: none;
    }
}