html, body, * {
    font-family: "Poppins", sans-serif !important;
    scroll-behavior: smooth;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    background-color: #e1e1e1;
    padding-top: 40px;
}

/* Layout structure */
.admin-dashboard {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    min-width: 260px;
    height: 100vh;
    background-color: #f8f9fa;
    backdrop-filter: blur(10px);
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
    /* Sidebar nav styling */
    .sidebar .nav-link {
        color: #333;
        font-weight: 300;
        transition: 0.2s ease-in-out;
        padding-left: 0;
        width: 100%;
        text-align: left;
    }

        .sidebar .nav-link:hover {
            color: #000000 !important; /* Darkest black for hover */
            background-color: #ebebeb;
            font-weight: 400;
            border-radius: 12px;
        }

        .sidebar .nav-link.active {
            background-color: #d8d8d8; /* Soft gray background */
            color: #000000; /* Black text */
            font-weight: 500;
            font-size: 13px;
            border-radius: 5px;
        }

    .sidebar .nav-link-reg-prod {
        font-size: 13px;
    }

.gestion-label {
    padding: 10px 16px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    background-color: black;
    border-radius: 10px;
    width: 100%;
    margin-top: 80px;
}

.ges-prod-label,
.ges-usuario-label {
    display: flex;
    flex-direction: row;
}

.label-word {
    padding-left: 12px;
}

dl {
    margin: 0;
}

.logout {
    color: #ED4A4A;
    text-decoration: none;
    margin: 0;
    padding: 8px 16px 8px 12px;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

    .logout:hover {
        color: #ED4A4A;
        font-weight: 500;
        background-color: #f7e8e8;
        border-radius: 12px;
    }

.btn-config {
    text-decoration: none;
    color: black;
    margin: 6px 0 6px 0;
    padding: 8px 8px 8px 12px;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

/* Main content area */
.content {
    margin-left: 200px;
    margin-right: 0px;
    height: 90vh;
    padding: 2rem;
    width: calc(100% - 200px); /* subtract sidebar width */
    max-width: 100%;
    flex-grow: 1;
    background-color: transparent;
}

.section-header {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 0 !important;
}

table {
    background-color: white;
}

.table-responsive {
    border-radius: 12px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: auto;
}

    .table-responsive thead th {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 2;
        box-shadow: 0 8px 8px rgba(0,0,0,0.5);
    }

h3 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 0;
    text-align: left;
    overflow-y: hidden;
}

thead tr {
    background-color: rgba(255, 255, 255, 0.7) !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    color: #808080;
    font-weight: 400;
}


.btn.btn-success {
    font-weight: 400;
    font-weight: 400;
}

/* Product images in table */
table img {
    border: 1px solid #ccc;
    object-fit: cover;
}

/************/

.Create-Button {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .Create-Button:hover {
        background-color: #157347;
    }

.Edit-Button {
    background-color: #709dc6;
    color: white;
    text-align: center;
    min-width: 5rem;
    justify-content: flex-start;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.Delete-Button {
    background-color: #f36767;
    color: white;
    text-align: center;
    min-width: 5rem;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.Confirm-Delete-Button{
    background-color: #FB8181;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
}

dialog {
    border-radius: 10px;
    border: 1px solid black;
    background-color: #EDEDED;
    padding: 50px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}

/*Users creation Pop-up*/
div.User-LabelForm-Container {
    display: flex;
    flex-direction: column;
}

h1.UserCreation {
    font-family: 'Murecho', sans-serif;
    font-weight: 550;
    font-size: 35px;
}

label {
    font-family: 'Murecho', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 30px;
}

input {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
}

select {
    border-radius: 5px;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
}

div.Title-Container{
    display: flex;
    flex-direction: row;
    gap: 290px;
}

div.User-Form-Container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.UserCreation {
    display: flex;
    flex-direction: column;
}

div.Create-Button-Container {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

button.Create-User {
    background-color: #70D3C3;
    font-family: 'Murecho', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
}

button.CloseButton{
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    width: 50px;
    font-size: 30px;
    font-weight: 500;
}

/*Delete user Pop-Up*/
.Delete-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

h1.Delete-User {
    font-family: 'Murecho', sans-serif;
    font-weight: 550;
    font-size: 35px;
}

p.Delete-User {
    font-family: 'Murecho', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 100px;
}

div.Delete-Button-Container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

div.User-Delete-PopUp {
    display: flex;
    background-color: #DFDFDF;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 100px;
    margin-left: 100px;
    justify-content:center;
}

div.User-Container-Name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.Close-Delete-Button {
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

dialog:not([open]) {
    display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        background-color: black;
        color: white;
        padding: 6px 15px;
        cursor: pointer;
        font-size: 16px;
        border: none;
        width: 100%;
        text-align: left;
        z-index: 1000;
    }

    .admin-dashboard {
        flex-direction: column;
        padding-top: 10px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease-in-out;
        z-index: 100;
        height: 100vh;
    }

        .sidebar.active {
            left: 0;
        }

    .content {
        margin-left: 0 !important; /* Avoid space when sidebar is hidden */
        padding: 1rem;
    }
}