body {
    background-color: #D3D3D3;
}

.Main-Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Logout-Container {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

/* FONTS */

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    padding: 0;
}

span {
    color: #B77D00;
}

.User-Data-Container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.Container-Container {
    width: 100%;
}

/* LEFT PART */
.Form-Container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 2rem;
    width: 100%;
    height: auto;
    border-radius: 5px;
    font-family: "Murecho", sans-serif !important;
}

.Form-Inner {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-family: "Murecho", sans-serif !important;
}

.Area-Container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input {
    border: solid 1.4px #999999;
    border-radius: 8px;
    padding-left: 20px;
    font-size: small;
    height: 30px;
    width: 100%;
    opacity: 70%;
}

.Note-Container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

input.Note {
    height: 300px;
    width: 100%;
}

div.Note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NoteTextArea {
    height: 150px;
    width: 100%;
    border: solid 1.4px #999999;
    border-radius: 8px;
    padding: 22px;
    font-size: small;
    opacity: 70%;
    resize: none;
    font-family: "Murecho", sans-serif;
    line-height: 1.4; /* Ensures proper line spacing */
    vertical-align: top; /* Key fix for vertical alignment */
    box-sizing: border-box; /* Makes padding behave correctly */
}


input.Area {
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

label {
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 6px 0;
    opacity: 80%;
}

placeholder {
    margin-left: 30px;
}

.Payment-Container {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.Payment-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D88B4;
    color: #F2F2F2;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-right: 0;
    margin-top: 30px;
    border: rgba(0,0,0,0);
    text-decoration: none;
}

    .Payment-Button:hover {
        background-color: #6f9dcc;
    }

.Payment-Container a {
    color: black;
    font-weight: 500;
    font-size: small;
}

.Address-Row-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.Row-Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.Input-Group {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 calc(50% - 0.5rem); /* 2 items per row */
    display: flex;
    flex-direction: column;
}

.Form-Basic-Data-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust spacing as needed */
}

/* ICONS INside Input Areas*/
.input-icon-container {
    position: relative;
    width: 100%;
}

    .input-icon-container .input-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #999;
        font-size: 1rem;
        pointer-events: none;
    }

.input-icon-note {
    position: absolute;
    top: 20px;
    left: 12px;
    color: #999;
    font-size: 1rem;
    pointer-events: none;
}

.input-icon-container input,
.input-icon-container textarea {
    padding-left: 2.2rem;
}

.btn-save-changes {
    background-color: #70D3C3;
    padding: 10px 30px;
    border-radius: 12px;
    border: 1.5px solid black;
    text-decoration: none;
}

/*Cards classes*/
.CreateCard-Button-Container {
    display: flex;
    background-color: #ECF4F6;
    border: 1px dashed #A2A2A2B2;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    margin: 10px;
    vertical-align: top;
    border-radius: 10px;
}

.Card-Item {
    display: inline-block;
    background-color: #ECF4F6;
    width: 20vw;
    height: 20vh;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    border-radius: 10px;
}

.Cards-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80vh;
    width: 50vw;
}

.MainContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem 2rem;
    width: 100%;
    height: auto;
    border-radius: 5px;
    font-family: "Murecho", sans-serif !important;
}

.CreateCard-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #000000B2;
    border-radius: 10px;
    width: 2vw;
    height: 4vh;
    margin-right: 2vh;
    text-decoration: none;
    color: black;
}

p{
    font-weight: 500;
    color: black;
}

.Card-Icon-Container{
    display: flex;
    justify-content: space-between;
}

.Icon{
    color: #c08403;
    height: 30px;
    width: 30px;
}

.Delete-Button{
    border-radius: 5px;
    background-color: white;
    border: none;
    width: 2vw;
    height: 4vh;
}

.Delete-Button-Container{
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}

.Cards-Title-Container{
    display: flex;
    justify-content: left;
    border: 1px solid black;
}

.Add-Card-Label{
    padding-top: 15px;
}