body {
    padding-top: 53px !important;
}
div.Global-Container{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start; 
    height: 100vh; 
}

.Extra-Buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 300px;
}

div.Extra-Buttons button{
    text-align: center;
    width: 140px;
}

dl {
    display: none; /*The list from the sidebar wont be shown at the beginning*/
}

div button{
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    width: 200px;
}

div button:hover {
    background-color: #c3c1c12d; 
}

.sidebar-Container {
    width: 200px; 
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 20px;
}

.CRUD_Container {
    flex-grow: 1; 
    background-color: #f6f6f6;
    height: 710px; 
    padding: 20px;
    overflow-x: auto; 
}




.Admin-Management {
    background-color: black;
    text-align: center;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

div.Admin-Management p{
    font-size: 15px;
    font-family: 'Murecho', sans-serif;
}

h1{
    font-family: 'Murecho', sans-serif;
    font-weight: 500;
}

table {
    width: 100%;
    max-width: 100%; 
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    text-align: center; 
    font-size: 14px; 
    word-wrap: break-word; 
}


td.Name{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 200px;
}

td.Email{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 170px;
}

td.Email2{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 20px;
}

td.Role{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 70px;
}

td.Status{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 100px;
}

td.Action{
    text-align: center;
    font-family: 'Murecho', sans-serif;
    padding-right: 150px;
}

.Create-Button {
    background-color: #28a745;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 75px;
    margin-bottom: 20px;
}
.Edit-Button {
    background-color: #97B2CA;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Delete-Button {
    background-color: #FB8181;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 5px;
    cursor: pointer;
}

.Confirm-Delete-Button{
    background-color: #FB8181;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
}

dialog {
    border-radius: 10px;
    border: 1px solid black;
    background-color: #EDEDED;
    padding: 50px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/*Users creation Pop-up*/
div.User-LabelForm-Container {
    display: flex;
    flex-direction: column;
}

h1.UserCreation {
    font-family: 'Murecho', sans-serif;
    font-weight: 550;
    font-size: 35px;
}

label {
    font-family: 'Murecho', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 30px;
}

input {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
}

select {
    border-radius: 5px;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
}

div.Title-Container{
    display: flex;
    flex-direction: row;
    gap: 290px;
}

div.User-Form-Container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.UserCreation {
    display: flex;
    flex-direction: column;
}

div.Create-Button-Container {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

button.Create-User {
    background-color: #70D3C3;
    font-family: 'Murecho', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
}

button.CloseButton{
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    width: 50px;
    font-size: 30px;
    font-weight: 500;
}

/*Delete user Pop-Up*/
.Delete-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

h1.Delete-User {
    font-family: 'Murecho', sans-serif;
    font-weight: 550;
    font-size: 35px;
}

p.Delete-User {
    font-family: 'Murecho', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 100px;
}

div.Delete-Button-Container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

div.User-Delete-PopUp {
    display: flex;
    background-color: #DFDFDF;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 100px;
    margin-left: 100px;
    justify-content:center;
}

div.User-Container-Name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.Close-Delete-Button {
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

dialog:not([open]) {
    display: none;
}