@model Tradie.Models.UserProfile.UserProfileMainPageModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "User profile main page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile page</title>
    <link rel="stylesheet" href="~/css/UserProfile.css">
    <link rel="stylesheet" href="~/css/Logout.CSS">
    <link href="https://fonts.googleapis.com/css2?family=Murecho:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</head>
<body>
    <div class="Main-Container">
        <div class="Logout-Container">
            <h1>Mi cuenta</h1>
            <button id="LogOutButton" type="submit" class="Logout-Button">
                <i class="bi bi-box-arrow-right me-2"></i> Cerrar Sesión
            </button>
        </div>
        <!--User's data container-->
        <div class="User-Data-Container">
            <div class="d-flex align-items-center Data-Container">
                <img src="@(!string.IsNullOrEmpty(Model.ProfilePhotoUrl) ? Model.ProfilePhotoUrl : Url.Content("~/images/default-profile.png"))"
                     alt="Profile"
                     class="rounded-circle me-2 profile-image-lg" />
                <div>
                    <div class="fw-bold">@Model.FullName</div>
                    <div class="text-muted small">@Model.Email</div>
                </div>
            </div>
            <div class="Link-Container">
                <a class="Edit-Profile" asp-controller="UserProfile" asp-action="UserEditProfile">Editar detalles del perfil</a>
                <a id="DeleteButton" class="Delete-Account" asp-controller="UserProfile" asp-action="UserDeleteProfile">Borrar mi cuenta</a>
            </div>
        </div>
        <!--Orders container-->
        <div class="Orders-Container">
            <div class="Orders-Title-Container">
                <h2>Pedidos</h2>
                <a href="" class="Orders-Link">Ver todos</a>
            </div>
            <div class="Order-Buttons-Container">
                <button class="Order-Button"><span class="iconify Icon-Mini" data-icon="solar:wallet-bold"></span><br />Pendientes de pago</button>
                <button class="Order-Button"><span class="iconify Icon-Mini" data-icon="mdi:receipt-text-pending"></span><br />Pendientes de envío</button>
                <button class="Order-Button"><span class="iconify Icon-Mini" data-icon="mdi:truck-delivery"></span><br />Paquetes enviados</button>
                <button class="Order-Button"><span class="iconify Icon-Mini" data-icon="material-symbols:rate-review-rounded"></span><br />Pendientes de valoración</button>
            </div>
        </div>
        <!--Other stuff container-->
        <div class="Other-Stuff-Container">
            <div class="Stuff-Container">
                <a asp-controller="Wishlist" asp-action="Index" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Lista de deseos</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Ve y modifica tu lista de deseos o añade los productos a tu carrito</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="UserProfile" asp-action="Orders" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Mis pedidos</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Rastrear, devolver, cancelar un pedido, descargar la factura o volver a comprar.</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="UserProfile" asp-action="UserCards" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Mis pagos</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Administrar o añadir métodos de pago y ver tus transacciones.</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="UserProfile" asp-action="UserAddress" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Direcciones de envío</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Editar, eliminar o configurar la dirección de envío predeterminada.</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="UserProfile" asp-action="LoginHistory" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Inicio de sesión</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Ver el historial de los inicios de sesión de tu cuenta.</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="UserProfile" asp-action="UserProductReviews" class="Stuff-Link">
                    <div class="Stuff-Data-Container">
                        <h2 class="Stuff-h2">Valoraciones</h2>
                        <div class="Stuff-Icon-Container">
                            <div class="Icon-container">
                                <span class="iconify Icon" data-icon="solar:wallet-bold"></span>
                            </div>
                            <div>
                                <p class="Stuff-Text">Escribe, lee, modifica o borra tus valoraciones.</p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <!--Pop-Ups-->
    <!--Logout Pop-Up-->
    <dialog id="LogOutPopUp">
        <div class="Logout-PopUp-Container">
            <div class="Leaving-Title-Container">
                <h1>Te estas yendo</h1>
            </div>
            <div class="Question-Container">
                <p>¿Estás seguro de que quieres cerrar la sesión?</p>
            </div>
            <div class="Logout-Button-Container">
                <form asp-controller="Account"
                  asp-action="Logout"
                  method="post"
                    class="form-btn-logout">
                @Html.AntiForgeryToken()
                <button id="LogOutButtonPopUp" type="submit" class="Logout-Button">Cerrar sesión</button>
                </form>
                <button id="CancelLogOutButton" class="Cancel-Button">Cancelar</button>
            </div>
        </div>
    </dialog>
    <script src="~/js/UserProfileMainPage.js" asp-append-version="true"></script>
</body>
</html>
